<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Libros!</title>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/09f81313b3.js" crossorigin="anonymous"></script>
    <!-- icono -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="login">
        <ml-header></ml-header>
        <main>
            <div class="container">

                <div class="login">
                    <h2>Log in</h2>
                    <form action="">
                        <div>
                            <input type="text" v-model="username_input" placeholder="username">
                            <i class="fas fa-user"></i>
                        </div>
                        <div>
                            <input :type=show_password v-model="password_input" placeholder="password">
                            <i :class="lock_icon" @click="alternate_password"></i>
                            <!-- fas fa-lock -->
                        </div>
                        <button type="submit" @click="verify_account">Log in</button>
                    </form>
                    <a href="javascript:alert('Nothing for now')">forgot password?</a>
                    <p class="secret">Try "user" and "1234". Also click that lock</p>
                </div>
                    
                <div class="sign-up">
                    <h2>Don't have an account?</h2>
                    <form action="">
                        <!-- <input type="text">
                        <input type="text">
                        <input type="password">
                        <input type="password">
                        <button>Sign up</button> -->
                        <ml-error></ml-error>
                    </form>
                </div>

            </div>
        </main>
        <ml-footer></ml-footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/components.js"></script>
    <script src="js/login.js"></script>
</body>
</html>