<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Libros!</title>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/09f81313b3.js" crossorigin="anonymous"></script>
    <!-- icono -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="login">
        <ml-header></ml-header>
        <main>
            <div class="container">

                <div class="login">
                    <h2>Log in</h2>
                    <form action="">
                        <div>
                            <input type="text" v-model="login_username" placeholder="username">
                            <i class="fas fa-user"></i>
                        </div>

                        <div>
                            <input :type="type_password" v-model="login_password" placeholder="password">
                            <i :class="login_lock_icon" @click="alternate_login"></i>
                        </div>

                        <button type="submit" @click="verify_account">Log in</button>
                    </form>
                    <a href="javascript:alert('Nothing for now')">forgot username or password?</a>
                    <p>Try <span translate='no'>"user"</span> and "1234" Also click that lock</p>
                </div>
                    
                <div class="sign-up">
                    <h2>Don't have an account?</h2>
                    <form action="">
                        <div>
                            <input type="text" placeholder="username" v-model="register_username">
                            <i class="fas fa-user"></i>
                        </div>
                        <div>
                            <input type="email" placeholder="email" v-model="register_email">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div>
                            <input :type="type_register_password" placeholder="password" v-model="register_password">
                            <i :class="register_lock_icon" @click="alternate_signup_password"></i>
                        </div>
                        <div>
                            <input :type="type_register_confirm" placeholder="confirm password" v-model="register_confirm">
                            <i :class="confirm_lock_icon" @click="alternate_signup_confirm"></i>
                        </div>
                        <button type="submit" @click="register">Sign up</button>
                    </form>
                    <p>This will not work. Real login and sign up does not work</p>
                </div>

            </div>
        </main>
        <ml-footer></ml-footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/components.js"></script>
    <script src="js/login.js"></script>
</body>
</html>