<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Libros!</title>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/09f81313b3.js" crossorigin="anonymous"></script>
    <!-- icono -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="login">
        <ml-header></ml-header>
        <main>
            <div class="login">
                <form action="">
                    <p>Log in</p>
                    <label for="">Username:</label>
                    <input type="text" v-model="username_input" placeholder="username">
                    <input type="password" v-model="password_input" placeholder="password">
                    <a href="#">forgot password?</a>
                    <input type="submit" @click="verify_account" placeholder="Log in">
                </form>
            </div>
        </main>
        <ml-footer></ml-footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/components.js"></script>
    <script src="js/login.js"></script>
</body>
</html>